/* bg navbar color */
#navbar{
	background-color: rgb(43, 43, 43);
}

.navBarItem{
	color: rgb(34, 211, 238);
}

.navBarItem:hover{
	background-color: rgb(30, 30, 30);
}

#navbar{
	height: 60px;
	padding-bottom: 0px;
	padding-right: 80px;
}

.navBarItem{
	transition: background-color .35s;
	padding: 15px;
	font-size: 1.8em;
	float: right;
	width: max-content;
	cursor: pointer;
	height: 25px;
}